{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Gradebook: Add Marks</title>

        <meta charset="utf-8">
        <meta name="description" content="Managing your students' academic records just got a whole lot easier.">
        <meta name="keywords" content="">
        <meta name="author" content="Anirban Sengupta">

        <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/base.css' %}" />
        <link rel="shortcut icon" href="{% static 'gradebook/favicon.ico' %}" />

        <!--[if lte IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

            <table class="banner"><tbody><tr><td>

                <a href="{% url 'grades:courses' %}"><span id="logo">gradebook</span></a>

            </td><td id="navigation1">

                <a href="{% url 'grades:courses' %}"><span class="nav"> Courses </span></a>
                <a href="{% url 'grades:students' %}"><span class="nav"> Students </span></a>
                <a href="{% url 'grades:assignments' %}"><span id="current"> Assignments </span></a>
                <a href="{% url 'grades:profile' %}"><span class="nav"> Profile </span></a>
                <a href="{% url 'grades:tutorial' %}"><span class="nav"> Help </span></a>
                <a href="{% url 'grades:logout' %}"><span id="logout"> Log out </span></a>

            </td></tr></tbody></table>

            <table class="lower_banner"><tbody><tr>
                <td><span id="intro">Add marks</span></td>
                <td id="navigation2">
                <a href="{% url 'grades:add_course' %}"><span class="display_other">Add course</span></a>    
                <a href="{% url 'grades:add_students' %}"><span class="display_other">Add students</span></a>
                <a href="{% url 'grades:add_assignment' %}"><span class="display_other">Add assignment</span></a>
            </td></tr></tbody></table>

        {% if courses %}
        <div id="add_marks">
            
            <form name="add_marks" action="{% url 'grades:add_marks' %}" method="post">
                {% csrf_token %}

                    Select course<br />
                    <select id="course" name="course">
                        {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.code }}&nbsp;{{ course.name }}</option>
                        {% endfor %}
                    </select><br />

                    {% if course_selected %}
                        {% if course_selected.assignments %}
                        Select assignment<br />
                        <select id="assignment" name="assignment">
                            {% for assignment in course_selected.assignments %}
                            <option value="{{ assignment.id }}">{{ assignment.name }}</option>
                            {% endfor %}
                        </select><br />
                        Enter marks, separated by spaces/commas, as<br />
                        <input class="form" type="radio" name="marks_entry" value="only_marks" />Only marks, in order of student ID&nbsp;&nbsp;&nbsp;
                        <input class="form" type="radio" name="marks_entry" value="marks_and_id" />Marks and student ID on each line
                        <br />
                        <textarea id="marks" rows="10" cols="40" name="marks" /></textarea><br />
                        {% else %}
                        Please add an assignment for this course first.<br />
                        {% endif %}

                    {% elif assignments %}
                        Select assignment<br />
                        <select id="assignment" name="assignment">
                            {% for assignment in assignments %}
                            <option value="{{ assignment.id }}">{{ assignment.name }}</option>
                            {% endfor %}
                        </select><br />
                        Enter marks, separated by spaces/commas, as<br />
                        <input class="form" type="radio" name="marks_entry" value="only_marks" />Only marks, in order of student ID&nbsp;&nbsp;&nbsp;
                        <input class="form" type="radio" name="marks_entry" value="marks_and_id" />Marks and student ID on each line
                        <br />
                        <textarea id="marks" rows="10" cols="40" name="marks" /></textarea><br />

                    {% endif %}
                <input id="button" type="submit" value="Continue"/>

            </form>

        </div>

        {% else %}

            <div class="text">
                <p>Please add a course first.</p>
            </div>

        {% endif %}

    </body>

</html>