{% load static %}
{% load grades_extras %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Gradebook: {{ course.code }} grades</title>

        <meta charset="utf-8">
        <meta name="description" content="Managing your students' academic records just got a whole lot easier.">
        <meta name="keywords" content="">
        <meta name="author" content="Anirban Sengupta">

        <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/base.css' %}" />
        <link rel="shortcut icon" href="{% static 'gradebook/favicon.ico' %}" />
        
        {% if students_marks %}

            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>

            <script type="text/javascript">
        
                google.load('visualization', '1.0', {'packages':['corechart']});

                function drawChart()
                {
                    var data = new google.visualization.DataTable();
                    var data = google.visualization.arrayToDataTable([
                        ['Marks', 'Students'],
                        {% if 'A+' in grades_count %}['A+', {{ grades_count|get_item:'A+' }}],{% endif %}
                        {% if 'A' in grades_count %}['A', {{ grades_count|get_item:'A' }}],{% endif %}
                        {% if 'B+' in grades_count %}['B+', {{ grades_count|get_item:'B+' }}],{% endif %}
                        {% if 'B' in grades_count %}['B', {{ grades_count|get_item:'B' }}],{% endif %}
                        {% if 'C+' in grades_count %}['C+', {{ grades_count|get_item:'C+' }}],{% endif %}
                        {% if 'C' in grades_count %}['C', {{ grades_count|get_item:'C' }}],{% endif %}
                        {% if 'D' in grades_count %}['D', {{ grades_count|get_item:'D' }}],{% endif %}
                        {% if 'F' in grades_count %}['F', {{ grades_count|get_item:'F' }}],{% endif %}
                        ]);
                    var options = {
                        'height': 440,
                        'fontName':'Trebuchet MS',
                        'fontSize': 17,
                        'backgroundColor': '#F9F9F9',
                        'axisTitlesPosition': 'out',
                        'pointSize': 6,
                        'hAxis': {'title': 'Grade awarded', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}},
                        'vAxis': {'title': 'Number of students', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}},
                        'chartArea': {'left': '12%', 'top': '5%', 'width': '80%', 'height': '80%'},
                        'legend': {'position':'none'},
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
                    chart.draw(data, options);
                }

            </script>

        {% endif %}

        <script type="text/javascript" src="{% static 'gradebook/javascript/base.js' %}"></script>

        <!--[if lte IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

            <table class="banner"><tbody><tr><td>

                <a href="{% url 'grades:courses' %}"><span id="logo">gradebook</span></a>

            </td><td id="navigation1">

                <a href="{% url 'grades:courses' %}"><span id="current"> Courses </span></a>
                <a href="{% url 'grades:students' %}"><span class="nav"> Students </span></a>
                <a href="{% url 'grades:assignments' %}"><span class="nav"> Assignments </span></a>
                <a href="{% url 'grades:profile' %}"><span class="nav"> Profile </span></a>
                <a href="{% url 'grades:tutorial' %}"><span class="nav"> Help </span></a>
                <a href="{% url 'grades:logout' %}"><span id="logout"> Log out </span></a>

            </td></tr></tbody></table>

        <table class="lower_banner"><tbody><tr>

            <td>
                <span id="intro">Assigning grades for {{ course.code }}</span>
            </td><td id="navigation2">

                {% if students %}
                    <span id="display_chart">Display chart</span>
                    <span id="display_table">Display table</span>
                {% endif %}
                <span class="display_other">Edit course</span>
                <a href="{% url 'grades:add_students' %}"><span class="display_other">Add students</span></a>
                <a href="{% url 'grades:add_assignment' %}"><span class="display_other">Add assignment</span></a>
                <a href="{% url 'grades:add_marks' %}"><span class="display_other">Add marks</span></a>

            </td></tr></tbody></table>


        {% if students_marks %}

            <div id="main_chart">
                <span id="chart_title">Distribution of grades for {{ course.code }}</span>
                <div id="chart"></div>
            </div>

        {% endif %}

        {% if students %}

        <div id="main_table">

            <table id="main"><tbody>

                <tr id="titles">
                    <td class="titles">Enrollment Number</td>
                    <td class="titles">Name</td>
                    <td class="titles">Total marks</td>
                    <td class="titles">Grade awarded</td>
                </tr>

                {% for student in students %}
                    <tr>
                        <td class="elements">{{ student.id }}</td>
                        <td class="elements">{{ student.name }}</td>
                        <td class="elements">{{ students_marks|get_item:student }}</td>
                        <td class="elements">{{ grades|get_item:student }}</td>
                    </tr>
                {% endfor %}

            </tbody></table>

        </div>

        {% else %}

        <div class="text">
                <p>You haven't added any students to this course yet.</p>
        </div>

        {% endif %}

    </body>

</html>