{% load static %}
{% load grades_extras %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Gradebook: {{ student.name }}</title>

        <meta charset="utf-8">
        <meta name="description" content="Managing your students' academic records just got a whole lot easier.">
        <meta name="keywords" content="">
        <meta name="author" content="Anirban Sengupta">

        <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/base.css' %}" />
        <link rel="shortcut icon" href="{% static 'gradebook/favicon.ico' %}" />

        {% if marks %}

            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>

            <script type="text/javascript">
        
                google.load('visualization', '1.0', {'packages':['corechart']});

                function drawChart()
                {
                    var data = new google.visualization.DataTable();
                    var data = google.visualization.arrayToDataTable([
                        ['Assignment', 'Percentage obtained'],
                        {% for assignment in percentages %}
                            ["{{ assignment.name }}", {{ percentages|get_item:assignment }}],
                        {% endfor %}
                        ]);
                    var options = {
                        'height': 440,
                        'fontName':'Trebuchet MS',
                        'fontSize': 17,
                        'backgroundColor': '#F9F9F9',
                        'axisTitlesPosition': 'out',
                        'pointSize': 6,
                        'hAxis': {'title': 'Assignments', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}},
                        'vAxis': {'title': 'Percentage of marks scored', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}, 'minValue': 0, 'maxValue': 100},
                        'chartArea': {'left': '12%', 'top': '5%', 'width': '80%', 'height': '80%'},
                        'legend': {'position':'none'},
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
                    chart.draw(data, options);
                }

            </script>

        {% endif %}

        <script type="text/javascript" src="{% static 'gradebook/javascript/base.js' %}"></script>

        <!--[if lte IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

            <table class="banner"><tbody><tr><td>

                <a href="{% url 'grades:courses' %}"><span id="logo">gradebook</span></a>

            </td><td id="navigation1">

                <a href="{% url 'grades:courses' %}"><span id="current"> Courses </span></a>
                <a href="{% url 'grades:profile' %}"><span class="nav"> Profile </span></a>
                <a href="{% url 'grades:tutorial' %}"><span class="nav"> Help </span></a>
                <a href="{% url 'grades:logout' %}"><span id="logout"> Log out </span></a>

            </td></tr></tbody></table>

            <table class="lower_banner"><tbody><tr>
                <td><span id="intro">{{ course.code }}: {{ course.name }}</span></td>
                <td id="navigation2">
                {% if marks %}
                    <span id="display_chart">Display chart</span>
                    <span id="display_table">Display table</span>
                {% endif %}
            </td></tr></tbody></table>

        {% if marks %}

            <div id="main_chart">
                <span id="chart_title">Percentage of marks obtained in {{ course.code }} assignments</span>
                <div id="chart"></div>
            </div>

        {% endif %}

    {% if assignments %}

        <div id="main_table">

            <table id="main"><tbody>

                <tr id="titles">
                    <td class="titles">Assignment name</td>
                    <td class="titles">Assignment description</td>
                    <td class="titles">Marks scored</td>
                    <td class="titles">Maximum marks</td>
                    <td class="titles">Percentage obtained</td>
                </tr>

                {% for assignment in assignments %}
                    <tr>
                        <td class="elements">{{ assignment.name }}</td>
                        <td class="elements">{{ assignment.description }}</td>
                        <td class="elements">{{ marks|get_item:assignment }}</td>
                        <td class="elements">{{ assignment.total_marks }}</td>
                        <td class="elements">{{ percentages|get_item:assignment }}</td>
                    </tr>
                    {% endfor %}

            </tbody></table>

        </div>

        {% else %}

        <div class="text">
                <p>There are no assignments for this course yet.</p>
        </div>

        {% endif %}

    </body>

</html>