{% load static %}
{% load grades_extras %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Gradebook: Students</title>

        <meta charset="utf-8">
        <meta name="description" content="Managing your students' academic records just got a whole lot easier.">
        <meta name="keywords" content="">
        <meta name="author" content="Anirban Sengupta">

        <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/base.css' %}" />
        <link rel="shortcut icon" href="{% static 'gradebook/favicon.ico' %}" />

        {% if courses %}

            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>

            <script type="text/javascript">
        
                google.load('visualization', '1.0', {'packages':['corechart']});

                function drawChart()
                {
                    var data = new google.visualization.DataTable();
                    var data = google.visualization.arrayToDataTable([
                        ['Marks', 'Students'],
                        {% for marks in marks_count %}
                            [{{ marks }}, {{ marks_count|get_item:marks }}],
                        {% endfor %}
                        ]);
                    var options = {
                        'height': 440,
                        'fontName':'Trebuchet MS',
                        'fontSize': 17,
                        'backgroundColor': '#F9F9F9',
                        'axisTitlesPosition': 'out',
                        'pointSize': 6,
                        'hAxis': {'title': 'Average marks', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}},
                        'vAxis': {'title': 'Number of students', 'titleTextStyle': {'fontSize': 20, 'italic': 'false'}},
                        'chartArea': {'left': '12%', 'top': '5%', 'width': '80%', 'height': '80%'},
                        'legend': {'position':'none'},
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chart'));
                    chart.draw(data, options);
                }

            </script>

        {% endif %}

        <script type="text/javascript" src="{% static 'gradebook/javascript/base.js' %}"></script>

        <!--[if lte IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

            <table class="banner"><tbody><tr><td>

                <a href="{% url 'grades:courses' %}"><span id="logo">gradebook</span></a>

            </td><td id="navigation1">

                <a href="{% url 'grades:courses' %}"><span class="nav"> Courses </span></a>
                <span id="current"> Students </span>
                <a href="{% url 'grades:assignments' %}"><span class="nav"> Assignments </span></a>
                <a href="{% url 'grades:profile' %}"><span class="nav"> Profile </span></a>
                <a href="{% url 'grades:tutorial' %}"><span class="nav"> Help </span></a>
                <a href="{% url 'grades:logout' %}"><span id="logout"> Log out </span></a>

            </td></tr></tbody></table>

            <table class="lower_banner"><tbody><tr>
                <td><span id="intro">All registered students</span></td>
                <td id="navigation2">
                {% if students %}
                    <span id="display_chart">Display chart</span>
                    <span id="display_table">Display table</span>
                {% endif %}
                <a href="{% url 'grades:add_course' %}"><span class="display_other">Add course</span></a>
                <a href="{% url 'grades:add_students' %}"><span class="display_other">Add students</span></a>
                <a href="{% url 'grades:add_assignment' %}"><span class="display_other">Add assignment</span></a>
            </td></tr></tbody></table>

        {% if marks_count %}

            <div id="main_chart">
                <span id="chart_title">Distribution of average marks</span>
                <div id="chart"></div>
            </div>

        {% endif %}

        {% if students %}

        <div id="main_table">

            <table id="main"><tbody>

                <tr id="titles">
                    <td class="titles">Enrollment Number</td>
                    <td class="titles">Name</td>
                    <td class="titles">Courses</td>
                    <td class="titles">Average marks</td>
                </tr>

                {% for student in students %}
                    <tr class="table_link" onclick="document.location='{% url 'grades:student_details' student.id %}' ">
                        <td class="elements">{{ student.id }}</td>
                        <td class="elements">{{ student.name }}</td>
                        <td class="elements">{{ student.get_courses|length }}</td>
                        <td class="elements">{{ student.average_marks }}</td>
                    </tr>
                {% endfor %}

            </tbody></table>

        </div>

        {% else %}

                {% if not courses %}
            <div class="text">
                <p>Please add a course first.</p>
            </div>
            
            {% else %}
            
            <div class="text">
                <p>It looks like you haven't added any students yet.</p>
            </div>

            {% endif %}

        {% endif %}

    </body>

</html>