{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Gradebook: Tutorial</title>

        <meta charset="utf-8">
        <meta name="description" content="Managing your students' academic records just got a whole lot easier.">
        <meta name="keywords" content="">
        <meta name="author" content="Anirban Sengupta">

        <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/base.css' %}" />
        <link rel="shortcut icon" href="{% static 'gradebook/favicon.ico' %}" />

        <!--[if lte IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

            <table class="banner"><tbody><tr><td>

                <a href="{% url 'grades:courses' %}"><span id="logo">gradebook</span></a>

            </td><td id="navigation1">

                <a href="{% url 'grades:courses' %}"><span class="nav"> Courses </span></a>
                <a href="{% url 'grades:profile' %}"><span class="nav"> Profile </span></a>
                <a href="{% url 'grades:tutorial' %}"><span id="current"> Help </span></a>
                <a href="{% url 'grades:logout' %}"><span id="logout"> Log out </span></a>

            </td></tr></tbody></table>

            <table class="lower_banner"><tbody><tr>

            <td>
                <span id="intro">How to use Gradebook</span>
            </td></tr></tbody></table>

        <div id="tutorial_student">
            <p>Hello, and welcome to Gradebook!</p>
            <p>This is a tool to manage your academic records. Here you can view the marks awarded to you by your professors, for assignments or examinations, as tables or as interactive charts.</p>
            <p>To get started, click on the courses button on the navigation area above.</p>
            <p>Go ahead and discover Gradebook!</p>
        </div>

    </body>

</html>